<%- include("../layouts/header");-%>
<div class="wrap-container slide_top show_desktop">
        <div class="wrap_box"
            style="background-image: url(&#39;https://web.tttt.vn/upload/e462e8f2-1b9a-11e9-a731-b51e02432c4b/2019/07/bg_top.jpg&#39;); background-repeat: no-repeat; background-size: cover;">
            <div id="CUEu2" data-id="CUEu2" class="isd_container container-fluid slide_top show_desktop"
                style="width: 100%; padding-top: 180px; padding-bottom: 70px; margin-top: 0px; max-width: 1170px; position: relative;">
                <div id="CUEu2_r1" class="isd_row row row justify-content-center" style="text-align: center;">
                    <div id="CUEu2_r1_c1" data-id="CUEu2_r1_c1" class="isd_column pb-md-5 col-6">
                        <div class="ans_col_items">
                            <div class="isd_object_item" style="width: 100%;">
                                <h1 class="font-weight-normal" id="CUEu2_r1_c1_e1"
                                    style="color: rgb(255, 255, 255); font-size: 40px; font-family: Roboto; line-height: 47px;">
                                    Register</h1>
                                <h3 style="color:antiquewhite;">Create your new Account to Enjoin the Travel</h3>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrap_box">
            <div class="container-fluid">
                <div class="row">
                    <h3 class="title-register-form col-md-12 col-sm-12 text-center">Register Form</h3>
                </div>
                <div class="form-register-detail">
                        <%- include("../alerts/alert"); -%>
                    <form id="form-register" method="post" action="/register">
                        <div class="form-group">
                            <label for="email" class="title-email-register">Email:</label>
                            <input id="email-register" class="input-email-register" name="email" type="email" placeholder="Enter Your Email" required>
                        </div>
                        <div class="form-group">
                            <label for="password" class="title-password-register">Password:</label>
                            <input id="password-register" class="input-password-register" name="password" type="password" placeholder="Enter Your Password" required>
                        </div>
                        <div class="form-group">
                            <label for="password_confirmation" class="title-password-register">Re-password:</label>
                            <input id="re-password-register" class="input-password-register" name="password_confirmation" type="password" placeholder="Confirm Your Password" required>
                        </div>
                        <div class="form-group">
                            <label for="parent" class="title-password-register">Refferal Link:</label>
<<<<<<< HEAD
                            <input id="refferal-register" class="input-refferal-register" name="parent" type="text" placeholder="Enter Refferal Link">
=======
                            <input id="refferal-register" class="input-refferal-register" name="parent" type="text" value="<%= parent %>" readonly>
>>>>>>> 72cb4c9668d08f524ec7f1241c39ae839e102db3
                        </div>
                        <div class="form-group">
                            <input id="btn-register-form" class="btn btn-warning" type="submit" value="Sign Up">
                        </div>
                    </form>
                </div>
            </div>
        </div>


<%- include("../layouts/footer");-%>