<%- include("layouts/header");-%>
<div class="wrap-container slide_top show_desktop">
    <div class="wrap_box"
        style="background-image: url(&#39;https://web.tttt.vn/upload/e462e8f2-1b9a-11e9-a731-b51e02432c4b/2019/07/bg_top.jpg&#39;); background-repeat: no-repeat; background-size: cover;">
        <div id="CUEu2" data-id="CUEu2" class="isd_container container-fluid slide_top show_desktop"
            style="width: 100%; padding-top: 180px; padding-bottom: 70px; margin-top: 0px; max-width: 1170px; position: relative;">
            <div id="CUEu2_r1" class="isd_row row row justify-content-center" style="text-align: center;">
                <div id="CUEu2_r1_c1" data-id="CUEu2_r1_c1" class="isd_column pb-md-5 col-6">
                    <div class="ans_col_items">
                        <div class="isd_object_item" style="width: 100%;">
                            <h1 class="font-weight-normal" id="CUEu2_r1_c1_e1"
                                style="color: rgb(255, 255, 255); font-size: 40px; font-family: Roboto; line-height: 47px;">
                                ASTRA APPLICATION</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div id="CUEu2_r2" class="isd_row row row justify-content-center">
                <div id="CUEu2_r2_c1" data-id="CUEu2_r2_c1" class="isd_column  col-4"
                    style="padding-top: 20px; margin-top: 0px;">
                    <div class="ans_col_items">
                        <div class="isd_object_item" style="width: 100%;">
                            <div id="ga6OS" class="ans_sub_col_item row">
                                <div id="slide_item_01" data-id="ailME" class="isd_column col_hover col-12"
                                    style="padding-top: 20px; margin-top: 20px; margin-bottom: 20px;">
                                    <div class="ans_col_items">
                                        <div class="isd_object_item" style="width: 100%;">
                                            <div id="NxPVJ" class="ans_sub_col_item row">
                                                <div id="UCMxw" data-id="UCMxw" class="isd_column  col-4">
                                                    <div class="ans_col_items">
                                                        <div class="isd_object_item" style="width: 100%;">
                                                            <img class=" img-fluid" id="xtjgy"
                                                                src="images/home/1563968715_icon_left1.png"
                                                                alt="Loading Image ..." style="width: 75%;">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="IAzv3" data-id="IAzv3" class="isd_column  col-8"
                                                    style="padding-top: 20px;">
                                                    <div class="ans_col_items">
                                                        <div class="isd_object_item"
                                                            style="width: 100%; text-align: right;">
                                                            <h4 class="" id="pgwL5"
                                                                style="color: rgb(255, 255, 255); font-size: 20px; font-family: Roboto; text-align: right; line-height: 23px;">
                                                                CONNECTIVITY</h4>
                                                        </div>
                                                        <div class="isd_object_item"
                                                            style="width: 100%; text-align: right;">
                                                            <p class="" id="HkTqU"
                                                                style="color: rgb(255, 255, 255); font-size: 14px; font-family: Roboto; text-align: right; line-height: 24px;">
                                                                Connectivity</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="slide_item_03" data-id="lg8QL" class="isd_column col_hover col-12"
                                    style="padding-top: 20px; margin-top: 20px; margin-bottom: 20px;">
                                    <div class="ans_col_items">
                                        <div class="isd_object_item" style="width: 100%;">
                                            <div id="Q5nEq" class="ans_sub_col_item row">
                                                <div id="81mg7" data-id="81mg7" class="isd_column  col-4">
                                                    <div class="ans_col_items">
                                                        <div class="isd_object_item" style="width: 100%;">
                                                            <img class=" img-fluid" id="yo76b"
                                                                src="images/home/icon_left2.png" alt="Loading Image ..."
                                                                style="width: 75%;">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="CbjmK" data-id="CbjmK" class="isd_column  col-8"
                                                    style="padding-top: 20px; margin-top: 0px;">
                                                    <div class="ans_col_items">
                                                        <div class="isd_object_item"
                                                            style="width: 100%; text-align: right;">
                                                            <h4 class="" id="KHQ2N"
                                                                style="color: rgb(255, 255, 255); font-size: 20px; font-family: Roboto; text-align: right; line-height: 23px;">
                                                                SHARE</h4>
                                                        </div>
                                                        <div class="isd_object_item"
                                                            style="width: 100%; text-align: right;">
                                                            <p class="" id="olV6U"
                                                                style="color: rgb(255, 255, 255); font-size: 14px; font-family: Roboto; text-align: right; line-height: 24px;">
                                                                Share the travel experience</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="isd_object_item" style="width: 100%;">
                            <div id="Rh4jK" class="ans_sub_col_item row">
                                <div id="slide_item_02" data-id="ler6F" class="isd_column col_hover col-12"
                                    style="padding-top: 20px; margin-top: 20px; margin-bottom: 20px;">
                                    <div class="ans_col_items">
                                        <div class="isd_object_item" style="width: 100%;">
                                            <div id="yKGWY" class="ans_sub_col_item row">
                                                <div id="M2Kio" data-id="M2Kio" class="isd_column  col-4">
                                                    <div class="ans_col_items">
                                                        <div class="isd_object_item" style="width: 100%;">
                                                            <img class=" img-fluid" id="PnuxR"
                                                                src="images/home/icon_left3.png" alt="Loading Image ..."
                                                                style="width: 75%;">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="slide_item_02" data-id="sxEO6" class="isd_column  col"
                                                    style="padding-top: 20px; margin-top: 0px;">
                                                    <div class="ans_col_items">
                                                        <div class="isd_object_item"
                                                            style="width: 100%; text-align: right;">
                                                            <h4 class="" id="pUMZW"
                                                                style="color: rgb(255, 255, 255); font-size: 20px; font-family: Roboto; text-align: right; line-height: 23px;">
                                                                REWARD</h4>
                                                        </div>
                                                        <div class="isd_object_item"
                                                            style="width: 100%; text-align: right;">
                                                            <p class="" id="2xfJG"
                                                                style="color: rgb(255, 255, 255); font-size: 14px; font-family: Roboto; text-align: right; line-height: 24px;">
                                                                Reward for content contributions</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="big_main_slide" data-id="CUEu2_r2_c2" class="isd_column  col-4">
                    <div class="ans_col_items">
                        <div class="isd_object_item remove_item" style="width: 100%; text-align: center;">
                            <img class="fdb-icon img-fluid" id="CUEu2_r2_c2_e1" src="images/home/buyservice.png"
                                alt="Loading Image ..." style="width: 75%; text-align: center;">
                        </div>
                    </div>
                </div>
                <div id="CUEu2_r2_c3" data-id="CUEu2_r2_c3" class="isd_column  col-4" style="padding-top: 20px;">
                    <div class="ans_col_items">
                        <div class="isd_object_item" style="width: 100%;">
                            <div id="tNyBP" class="ans_sub_col_item row">
                                <div id="slide_item_04" data-id="3o7a2" class="isd_column col_right_hover col-12"
                                    style="padding-top: 20px; margin-top: 20px; margin-bottom: 20px;">
                                    <div class="ans_col_items">
                                        <div class="isd_object_item" style="width: 100%;">
                                            <div id="nBgGs" class="ans_sub_col_item row">
                                                <div id="YvRFS" data-id="YvRFS" class="isd_column  col-8"
                                                    style="padding-top: 20px;">
                                                    <div class="ans_col_items">
                                                        <div class="isd_object_item"
                                                            style="width: 100%; text-align: left;">
                                                            <h4 class="" id="XRbOC"
                                                                style="color: rgb(255, 255, 255); font-size: 20px; font-family: Roboto; text-align: left; line-height: 24px;">
                                                                TRAVEL KNOWLEDGE</h4>
                                                        </div>
                                                        <div class="isd_object_item"
                                                            style="width: 100%; text-align: left;">
                                                            <p class="" id="RAze7"
                                                                style="color: rgb(255, 255, 255); font-size: 14px; font-family: Roboto; text-align: left; line-height: 24px;">
                                                                Get about other people's travel experiences</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="H7GoU" data-id="H7GoU" class="isd_column  col-4">
                                                    <div class="ans_col_items">
                                                        <div class="isd_object_item" style="width: 100%;">
                                                            <img class=" img-fluid" id="Dg1Ap"
                                                                src="images/home/icon_right1.png"
                                                                alt="Loading Image ..." style="width: 75%;">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="slide_item_05" data-id="ZgAbl" class="isd_column col_right_hover col-12"
                                    style="padding-top: 20px; margin-top: 20px; margin-bottom: 20px;">
                                    <div class="ans_col_items">
                                        <div class="isd_object_item" style="width: 100%;">
                                            <div id="ilzrV" class="ans_sub_col_item row">
                                                <div id="XOaYo" data-id="XOaYo" class="isd_column  col-8"
                                                    style="padding-top: 15px;">
                                                    <div class="ans_col_items">
                                                        <div class="isd_object_item"
                                                            style="width: 100%; text-align: left;">
                                                            <h4 class="" id="YGvtk"
                                                                style="color: rgb(255, 255, 255); font-size: 20px; font-family: Roboto; text-align: left; line-height: 15px; padding-top: 0px;">
                                                                BUY / SERVICES</h4>
                                                        </div>
                                                        <div class="isd_object_item"
                                                            style="width: 100%; text-align: left;">
                                                            <p class="" id="t2QE4"
                                                                style="color: rgb(255, 255, 255); font-size: 14px; font-family: Roboto; text-align: left; line-height: 20px;">
                                                                Buy travel products / services with many incentives</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="kdQ7P" data-id="kdQ7P" class="isd_column  col-4">
                                                    <div class="ans_col_items">
                                                        <div class="isd_object_item" style="width: 100%;">
                                                            <img class=" img-fluid" id="OdbE9"
                                                                src="images/home/icon_right2.png"
                                                                alt="Loading Image ..." style="width: 75%;">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="isd_object_item" style="width: 100%;">
                            <div id="YJx7s" class="ans_sub_col_item row">
                                <div id="slide_item_06" data-id="TREfe" class="isd_column col_right_hover col-12"
                                    style="padding-top: 20px; margin-top: 20px; margin-bottom: 20px;">
                                    <div class="ans_col_items">
                                        <div class="isd_object_item" style="width: 100%;">
                                            <div id="RrDdq" class="ans_sub_col_item row">
                                                <div id="cDbgX" data-id="cDbgX" class="isd_column  col-8"
                                                    style="padding-top: 10px;">
                                                    <div class="ans_col_items">
                                                        <div class="isd_object_item"
                                                            style="width: 100%; text-align: left;">
                                                            <h4 class="" id="Ud2uY"
                                                                style="color: rgb(255, 255, 255); font-size: 20px; font-family: Roboto; text-align: left; line-height: 24px;">
                                                                MARKETING</h4>
                                                        </div>
                                                        <div class="isd_object_item"
                                                            style="width: 100%; text-align: left;">
                                                            <p class="" id="cSLMd"
                                                                style="color: rgb(255, 255, 255); font-size: 14px; text-align: left; line-height: 24px;">
                                                                Professional marketing tools for travel service
                                                                providers</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="mCJji" data-id="mCJji" class="isd_column  col-4">
                                                    <div class="ans_col_items">
                                                        <div class="isd_object_item" style="width: 100%;">
                                                            <img class=" img-fluid" id="8lniP"
                                                                src="images/home/icon_right3.png"
                                                                alt="Loading Image ..." style="width: 75%;">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="wrap-container slide_top show_mobile">
    <div class="wrap_box" style="background-image: url("
        https://web.tttt.vn/upload/e462e8f2-1b9a-11e9-a731-b51e02432c4b/2019/07/bg_header.png"); background-repeat:
        no-repeat; background-size: cover;">
        <div id="mobile_main_slide_top" data-id="wYXZB" class="isd_container container-fluid slide_top show_mobile"
            style="width: 100%; padding-top: 100px; padding-bottom: 100px; max-width: 1170px; position: relative;">
            <div id="wYXZB_r1" class="isd_row row row justify-content-center" style="text-align: center;">
                <div id="wYXZB_r1_c1" data-id="wYXZB_r1_c1" class="isd_column pb-md-5 col-12">
                    <div class="ans_col_items">
                        <div class="isd_object_item" style="width: 100%;">
                            <h1 class="mode_425_font" id="wYXZB_r1_c1_e1"
                                style="color: rgb(255, 255, 255); font-size: 40px; font-family: segoe ui; line-height: 47px;">
                                ASTRA APPLICATION</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div id="wYXZB_r2" class="isd_row row row justify-content-center">
                <div id="wYXZB_r2_c2" data-id="wYXZB_r2_c2" class="isd_column col-7 full_425">
                    <div class="ans_col_items">
                        <div class="isd_object_item" style="width: 100%; text-align: center;">
                            <img class="fdb-icon img-fluid" id="mobile_main_big_img" src="images/home/buyservice.png"
                                alt="Loading Image ..." style="width: 80%; text-align: center;">
                        </div>
                    </div>
                </div>
                <div id="wYXZB_r2_c1" data-id="wYXZB_r2_c1" class="isd_column col-6 full_425"
                    style="padding-top: 20px; margin-top: 0px; padding-right: 40px;">
                    <div class="ans_col_items">
                        <div class="isd_object_item" style="width: 100%;">
                            <div id="V9BYJ" class="ans_sub_col_item row">
                                <div id="mobile_s_item_1" data-id="nHtN3"
                                    class="isd_column col_hover slide_item_click col-12"
                                    style="padding-top: 20px; margin-top: 20px; margin-bottom: 20px;">
                                    <div class="ans_col_items">
                                        <div class="isd_object_item" style="width: 100%;">
                                            <div id="vMhEF" class="ans_sub_col_item row">
                                                <div id="nVj2C" data-id="nVj2C" class="isd_column  col-4">
                                                    <div class="ans_col_items">
                                                        <div class="isd_object_item" style="width: 100%;">
                                                            <img class=" img-fluid" id="yxC2b"
                                                                src="images/home/1563968715_icon_left1.png"
                                                                alt="Loading Image ..." style="">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="F39es" data-id="F39es" class="isd_column  col-8"
                                                    style="padding-top: 20px;">
                                                    <div class="ans_col_items">
                                                        <div class="isd_object_item"
                                                            style="width: 100%; text-align: left;">
                                                            <h4 class="" id="LzGKx"
                                                                style="color: rgb(255, 255, 255); font-size: 20px; font-family: segoe ui; text-align: left; line-height: 23px;">
                                                                CONNECTIVITY</h4>
                                                        </div>
                                                        <div class="isd_object_item"
                                                            style="width: 100%; text-align: left;">
                                                            <p class="" id="Cdkj6"
                                                                style="color: rgb(255, 255, 255); font-size: 14px; font-family: segoe ui; text-align: left; line-height: 24px;">
                                                                Connectivity</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="mobile_s_item_2" data-id="2hIUR"
                                    class="isd_column col_hover slide_item_click col-12"
                                    style="padding-top: 20px; margin-top: 0px; margin-bottom: 0px;">
                                    <div class="ans_col_items">
                                        <div class="isd_object_item" style="width: 100%;">
                                            <div id="xLPj5" class="ans_sub_col_item row">
                                                <div id="lYf3m" data-id="lYf3m" class="isd_column  col-4">
                                                    <div class="ans_col_items">
                                                        <div class="isd_object_item" style="width: 100%;">
                                                            <img class=" img-fluid" id="bcRtY"
                                                                src="images/home/icon_left2.png"
                                                                alt="Loading Image ...">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="mWBKd" data-id="mWBKd" class="isd_column  col-8"
                                                    style="padding-top: 20px;">
                                                    <div class="ans_col_items">
                                                        <div class="isd_object_item"
                                                            style="width: 100%; text-align: left;">
                                                            <h4 class="" id="STpwl"
                                                                style="color: rgb(255, 255, 255); font-size: 20px; font-family: segoe ui; text-align: left; line-height: 23px;">
                                                                SHARE</h4>
                                                        </div>
                                                        <div class="isd_object_item"
                                                            style="width: 100%; text-align: left;">
                                                            <p class="" id="rakhK"
                                                                style="color: rgb(255, 255, 255); font-size: 14px; font-family: segoe ui; text-align: left; line-height: 24px;">
                                                                Share the travel experience</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="isd_object_item" style="width: 100%;">
                            <div id="47aAr" class="ans_sub_col_item row">
                                <div id="mobile_s_item_3" data-id="clSzu"
                                    class="isd_column col_hover slide_item_click col-12"
                                    style="padding-top: 20px; margin-top: 20px; margin-bottom: 20px;">
                                    <div class="ans_col_items">
                                        <div class="isd_object_item" style="width: 100%;">
                                            <div id="F4NJW" class="ans_sub_col_item row">
                                                <div id="tWsF2" data-id="tWsF2" class="isd_column  col-4">
                                                    <div class="ans_col_items">
                                                        <div class="isd_object_item" style="width: 100%;">
                                                            <img class=" img-fluid" id="Modt1"
                                                                src="images/home/icon_left3.png" alt="Loading Image ..."
                                                                style="">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="qJtlx" data-id="qJtlx" class="isd_column  col"
                                                    style="padding-top: 20px;">
                                                    <div class="ans_col_items">
                                                        <div class="isd_object_item"
                                                            style="width: 100%; text-align: left;">
                                                            <h4 class="" id="h6Lir"
                                                                style="color: rgb(255, 255, 255); font-size: 20px; font-family: segoe ui; text-align: left; line-height: 23px;">
                                                                REWARD</h4>
                                                        </div>
                                                        <div class="isd_object_item"
                                                            style="width: 100%; text-align: left;">
                                                            <p class="" id="x8mgi"
                                                                style="color: rgb(255, 255, 255); font-size: 14px; font-family: segoe ui; text-align: left; line-height: 24px;">
                                                                Reward for content contributions</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="wYXZB_r2_c3" data-id="wYXZB_r2_c3" class="isd_column  col-6 full_425"
                    style="padding-top: 20px; padding-left: 40px;">
                    <div class="ans_col_items">
                        <div class="isd_object_item" style="width: 100%;">
                            <div id="Vcp6i" class="ans_sub_col_item row">
                                <div id="mobile_s_item_4" data-id="mR75X"
                                    class="isd_column col_right_hover row_rever slide_item_click col-12"
                                    style="padding-top: 20px; margin-top: 20px; margin-bottom: 0px;">
                                    <div class="ans_col_items">
                                        <div class="isd_object_item" style="width: 100%;">
                                            <div id="N7SvI" class="ans_sub_col_item row">
                                                <div id="1VrTL" data-id="1VrTL" class="isd_column  col-8"
                                                    style="padding-top: 20px;">
                                                    <div class="ans_col_items">
                                                        <div class="isd_object_item"
                                                            style="width: 100%; text-align: left;">
                                                            <h4 class="" id="3vQJm"
                                                                style="color: rgb(255, 255, 255); font-size: 20px; font-family: segoe ui; text-align: left; line-height: 23px24px;">
                                                                TRAVEL KNOWLEDGE</h4>
                                                        </div>
                                                        <div class="isd_object_item"
                                                            style="width: 100%; text-align: left;">
                                                            <p class="" id="amuZK"
                                                                style="color: rgb(255, 255, 255); font-size: 14px; font-family: segoe ui; text-align: left; line-height: 24px;">
                                                                Get about other people's travel experiences</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="T2ErD" data-id="T2ErD" class="isd_column  col-4">
                                                    <div class="ans_col_items">
                                                        <div class="isd_object_item" style="width: 100%;">
                                                            <img class=" img-fluid" id="DGS8l"
                                                                src="images/home/icon_right1.png"
                                                                alt="Loading Image ...">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="mobile_s_item_5" data-id="klOgM"
                                    class="isd_column col_right_hover  row_rever slide_item_click col-12"
                                    style="padding-top: 20px; margin-top: 0px; margin-bottom: 20px;">
                                    <div class="ans_col_items">
                                        <div class="isd_object_item" style="width: 100%;">
                                            <div id="eGM1j" class="ans_sub_col_item row">
                                                <div id="3ZxQp" data-id="3ZxQp" class="isd_column  col-8"
                                                    style="padding-top: 15px;">
                                                    <div class="ans_col_items">
                                                        <div class="isd_object_item"
                                                            style="width: 100%; text-align: left;">
                                                            <h4 class="" id="EBwp8"
                                                                style="color: rgb(255, 255, 255); font-size: 20px; font-family: segoe ui; text-align: left; line-height: 23px15px; padding-top: 0px;">
                                                                BUY / SERVICES</h4>
                                                        </div>
                                                        <div class="isd_object_item"
                                                            style="width: 100%; text-align: left;">
                                                            <p class="" id="AZSWC"
                                                                style="color: rgb(255, 255, 255); font-size: 14px; font-family: segoe ui; text-align: left; line-height: 24px20px;">
                                                                Buy travel products / services with many incentives</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="PAzUB" data-id="PAzUB" class="isd_column  col-4">
                                                    <div class="ans_col_items">
                                                        <div class="isd_object_item" style="width: 100%;">
                                                            <img class=" img-fluid" id="OfQMu"
                                                                src="images/home/icon_right2.png"
                                                                alt="Loading Image ...">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="isd_object_item" style="width: 100%;">
                            <div id="y9rRA" class="ans_sub_col_item row">
                                <div id="mobile_s_item_6" data-id="tKjTl"
                                    class="isd_column col_right_hover  row_rever slide_item_click col-12"
                                    style="padding-top: 20px; margin-top: 0px; margin-bottom: 20px;">
                                    <div class="ans_col_items">
                                        <div class="isd_object_item" style="width: 100%;">
                                            <div id="UF9O3" class="ans_sub_col_item row">
                                                <div id="zIdDV" data-id="zIdDV" class="isd_column  col-8"
                                                    style="padding-top: 10px;">
                                                    <div class="ans_col_items">
                                                        <div class="isd_object_item"
                                                            style="width: 100%; text-align: left;">
                                                            <h4 class="" id="6mFDR"
                                                                style="color: rgb(255, 255, 255); font-size: 20px; font-family: segoe ui; text-align: left; line-height: 24px;">
                                                                MARKETING</h4>
                                                        </div>
                                                        <div class="isd_object_item"
                                                            style="width: 100%; text-align: left;">
                                                            <p class="" id="nTlwf"
                                                                style="color: rgb(255, 255, 255); font-size: 14px; text-align: left; line-height: 24px;">
                                                                Professional marketing tools for travel service
                                                                providers</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="F1pEB" data-id="F1pEB" class="isd_column  col-4">
                                                    <div class="ans_col_items">
                                                        <div class="isd_object_item" style="width: 100%;">
                                                            <img class=" img-fluid" id="uhoFU"
                                                                src="images/home/icon_right3.png"
                                                                alt="Loading Image ...">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="wrap-container bg_img">
    <div class="wrap_box">
        <div id="about_block" data-id="xlYcS" class="isd_container container-fluid bg_img"
            style="width: 100%; padding-top: 25px; padding-bottom: 25px; margin-top: 0px; max-width: 1170px; position: relative;">
            <div id="eF6pt" class="isd_row row " style="order: 5; padding: 0px; margin: 0px;">
                <div id="XA8SZ" data-id="XA8SZ" class="isd_column mb-4 mb-md-0 col-align-center col-5 full_425"
                    style="text-align: left; padding-right: 10px; padding-left: 0px;">
                    <div class="ans_col_items">
                        <div class="isd_object_item" style="width: 100%; text-align: left;">
                            <h1 class="font-weight-normal heading-text mode_425_font" id="2hC3l"
                                style="color: rgb(4, 15, 44); font-size: 50px; font-family: segoe ui; text-align: left; line-height: 70px;">
                                Astra Network</h1>
                        </div>
                        <div class="isd_object_item" style="width: 100%; text-align: justify;">
                            <p class="" id="Yz6fB"
                                style="color: rgb(4, 15, 44); font-size: 16px; font-family: segoe ui; text-align: justify; line-height: 23px; padding-bottom: 10px;">
                                The world's first social networking platform based blockchain for tourism, ensuring
                                transparency and trust for review, ensuring fairness for contributors by paying the
                                rewards
                                for what they contribute, promises to bring a new step to the tourism industry and solve
                                all
                                the shortcomings of social networks and current travel review platforms.</p>
                        </div>
                        <div class="isd_object_item" style="width: 100%;">
                            <div id="gpTH7" class="ans_html_item">
                                <div class="quick_link" data-url="#contact_block"><a class="btn  btn_bg_transparent"
                                        href="/contact"><span>Contact us</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="cL3hV" data-id="cL3hV" class="isd_column ml-md-auto col-7 full_425">
                    <div class="ans_col_items">
                        <div class="isd_object_item" style="width: 100%; text-align: right;">
                            <img class=" img-fluid" id="haNv3" src="images/home/1563901591_img_new.png"
                                alt="Loading Image ..." style="width: 75%; text-align: right; margin-left: 80px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="wrap-container why_choose">
    <div class="wrap_box" style="background-color: #202940;">
        <div id="Ll3P5" data-id="Ll3P5" class="isd_container container-fluid why_choose"
            style="width: 100%; padding-top: 50px; padding-bottom: 50px; max-width: 1170px; position: relative; ">
            <div id="BwGFu" class="isd_row row " style="order: 5; padding: 0px; margin: 0px;">
                <div id="why_choose_us_img_right" data-id="nZhxm"
                    class="isd_column mb-4 mb-md-0 full_768 col-align-center col-6">
                    <div class="ans_col_items">
                        <div class="isd_object_item" style="width: 100%; text-align: center;">
                            <img class=" img-fluid" id="why_choose_us" src="images/home/why_choose .png"
                                alt="Loading Image ..." style="width: 100%; text-align: center; margin-top: 80px;">
                        </div>
                    </div>
                </div>
                <div id="mLKw6" data-id="mLKw6" class="isd_column ml-md-auto why_choose col-6 full_768">
                    <div class="ans_col_items">
                        <div class="isd_object_item" style="width: 100%; text-align: left;">
                            <h2 class="font-weight-normal mode_425_font" id="iZ2NY"
                                style="font-size: 50px; font-family: segoe ui; text-align: left; line-height: 60px; color: white;">Why
                                choose
                                us
                            </h2>
                        </div>
                        <div class="isd_object_item" style="width: 100%;">
                            <div id="QPjpY" class="ans_sub_col_item row">
                                <div id="Zc9uO" data-id="Zc9uO" class="isd_column  col-12"
                                    style="margin-top: 15px; margin-bottom: 10px;">
                                    <div class="ans_col_items">
                                        <div class="isd_object_item" style="width: 100%;">
                                            <div id="qf8zQ" class="ans_html_item">
                                                <div class="accordionItem1 open">
                                                    <button class="accordionItemHeading1">Fairness Transparency
                                                        Efficiency<span class="icon-times"></span><span
                                                            class="icon-plus1"></span>
                                                    </button>
                                                    <div class="accordionItemContent1">
                                                        <p><strong>For User: </strong> Access quickly, conveniently and
                                                            accurately with
                                                            reference information about the tourist destination which
                                                            they need. Receive the
                                                            reward by interacting with content posted.</p>
                                                        <p><strong>For Poster: </strong> Receiving the worthy reward for
                                                            their
                                                            contribution in uploading the review content of the tourist
                                                            destination. In
                                                            addition, there is also a recognition of personal images, by
                                                            receiving a lot of
                                                            likes, comments, and share for their posts, their posters
                                                            will be receive token
                                                            reward.</p>
                                                        <p><strong>For Provider: </strong> Using marketing tools for
                                                            specialized tourism
                                                            products / services, achieving the highest efficiency in a
                                                            target market
                                                            low-cost of marketing and touch the target customers.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="eMkgK" data-id="eMkgK" class="isd_column  col" style="margin-bottom: 10px;">
                                    <div class="ans_col_items">
                                        <div class="isd_object_item" style="width: 100%;">
                                            <div id="V31vo" class="ans_html_item">
                                                <div data-url="https://web.tttt.vn/upload/e462e8f2-1b9a-11e9-a731-b51e02432c4b/2019/07/1564193494_smart_contact.png"
                                                    class="accordionItem1 close">
                                                    <button class="accordionItemHeading1">Smart contract<span
                                                            class="icon-times"></span> <i class="fa fa-plus"></i>
                                                    </button>
                                                    <div class="accordionItemContent1">
                                                        <p>Plays an important role in the Astra Network, implementing
                                                            the reward for users
                                                            and posters (when they contribute value) transparently and
                                                            effectively.</p>
                                                        <p>Poster will receive reward when the content is being liked,
                                                            shared, commented.
                                                        </p>
                                                        <p>And especially in Astra Network, even users can receive
                                                            reward tokens when
                                                            interacting with the contents of the poster</p>
                                                        <p>We have tool to measure these values, which is Proof of
                                                            Rating</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="isd_object_item" style="width: 100%;">
                            <div id="TqEb3" class="ans_sub_col_item row">
                                <div id="ZPg6H" data-id="ZPg6H" class="isd_column  col-12" style="margin-bottom: 10px;">
                                    <div class="ans_col_items">
                                        <div class="isd_object_item" style="width: 100%;">
                                            <div id="rdAIn" class="ans_html_item">
                                                <div data-url="https://web.tttt.vn/upload/e462e8f2-1b9a-11e9-a731-b51e02432c4b/2019/07/proof_of_rating.png"
                                                    class="accordionItem1 close">
                                                    <button class="accordionItemHeading1">Proof of Rating<span
                                                            class="icon-times"></span><i class="fa fa-plus"></i>
                                                    </button>
                                                    <div class="accordionItemContent1">
                                                        <p>Proof of rating is a tool which is researched and developed
                                                            by Astra Network,
                                                            which measures the value of user / poster contributes to the
                                                            platform through
                                                            community interaction with the content they contribute.</p>
                                                        <p>Along with the factor of operating on a decentralized
                                                            blockchain platform,
                                                            proof of rating is also one of the main factors that make
                                                            Astra Network
                                                            different from other social networks. This is the decisive
                                                            point for the
                                                            existence and growth of a decentralized tourism social
                                                            network "Astra Network''
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="UVhbT" data-id="UVhbT" class="isd_column  col-12" style="margin-bottom: 10px;">
                                    <div class="ans_col_items">
                                        <div class="isd_object_item" style="width: 100%;">
                                            <div id="76xuN" class="ans_html_item">
                                                <div data-url="https://web.tttt.vn/upload/e462e8f2-1b9a-11e9-a731-b51e02432c4b/2019/07/proof_of_trust.png"
                                                    class="accordionItem1 close">
                                                    <button class="accordionItemHeading1">Proof of Trust<span
                                                            class="icon-times"></span><i class="fa fa-plus"></i>
                                                    </button>
                                                    <div class="accordionItemContent1">
                                                        <p>Astra Network uses 3 Class Filter to screen, forming a "Proof
                                                            of Trust"
                                                            mechanism to ensure no fake information for users.</p>
                                                        <p><strong> IT technology: </strong> Make sure there are no
                                                            fake images</p>
                                                        <p><strong> KYC filter: </strong> ensure the truthfulness of
                                                            the poster</p>
                                                        <p><strong> Mechanism of the Astra Network ecosystem: </strong>
                                                            economic
                                                            benefits, as doing the right thing as getting more reward
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="isd_object_item" style="width: 100%;">
                            <div id="vTrEh" class="ans_sub_col_item row"></div>
                        </div>
                        <div class="isd_object_item" style="width: 100%;">
                            <div id="tUkS4" class="ans_sub_col_item row">
                                <div id="VC3wi" data-id="VC3wi" class="isd_column  col" style="margin-bottom: 10px;">
                                    <div class="ans_col_items">
                                        <div class="isd_object_item" style="width: 100%;">
                                            <div id="42pd1" class="ans_html_item">
                                                <div data-url="https://web.tttt.vn/upload/e462e8f2-1b9a-11e9-a731-b51e02432c4b/2019/07/business_model.png"
                                                    class="accordionItem1 close">
                                                    <button class="accordionItemHeading1">Business model<span
                                                            class="icon-times"></span><i class="fa fa-plus"></i>
                                                    </button>
                                                    <div class="accordionItemContent1">
                                                        <p>The Astra Network is designed to be coupled with a complete
                                                            business model,
                                                            helping the ecosystem to operate automatically and create
                                                            value for society. The
                                                            only currency used in the Astra Network ecosystem is ANX
                                                            token.</p>
                                                        <p>All activities of value creation of user / poster will be
                                                            paid in tokens ANX.
                                                            Tokens are in the user / posters wallet, the user / poster
                                                            can be used to pay
                                                            for the tourism products / services of the provider through
                                                            the Astra Network's
                                                            integrated payment gateway. In addition, the user / poster
                                                            also has the right to
                                                            use this token for other purposes such as giving, donating,
                                                            buying and selling
                                                            directly, or buying and selling on global trading exchanges.
                                                            Providers can use
                                                            ANX tokens to pay for advertising fees on Astra social
                                                            networks.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="isd_object_item" style="width: 100%;">
                            <div id="MwOPi" class="ans_sub_col_item row"></div>
                        </div>
                        <div class="isd_object_item" style="width: 100%;">
                            <div id="ovleE" class="ans_sub_col_item row">
                                <div id="wR2Jj" data-id="wR2Jj" class="isd_column  col" style="margin-bottom: 0px;">
                                    <div class="ans_col_items">
                                        <div class="isd_object_item" style="width: 100%;">
                                            <div id="jHk5t" class="ans_html_item">
                                                <div data-url="https://web.tttt.vn/upload/e462e8f2-1b9a-11e9-a731-b51e02432c4b/2019/07/1564193748_feature.png"
                                                    class="accordionItem1 close">
                                                    <button class="accordionItemHeading1">Feature<span
                                                            class="icon-times"></span><i class="fa fa-plus"></i>
                                                    </button>
                                                    <div class="accordionItemContent1">
                                                        <p> Connectivity</p>
                                                        <p> Share the travel experience</p>
                                                        <p> Reward for content contributions</p>
                                                        <p> Get about other people's travel experiences</p>
                                                        <p> Buy travel products / services with many incentives</p>
                                                        <p> Professional marketing tools for travel service providers
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="wrap-container justify-content-center">
    <style>
        .justify-content-center .row {
            justify-content: center;
        }
    </style>
    <div class="wrap_box" style="background-color: rgb(255, 255, 255);">
        <div id="roadmap_block" data-id="YSwKq" class="isd_container container justify-content-center"
            style="padding-top: 30px; padding-bottom: 20px; margin-top: 0px; position: relative;">
            <div id="QkUD2" class="isd_row row ">
                <div id="QkUD2c1" data-id="QkUD2c1" class="isd_column mode_425 col-9" style="text-align: center;">
                    <div class="ans_col_items">
                        <div class="isd_object_item" style="width: 100%; text-align: center;">
                            <h2 class="font-weight-normal" id="QkUD2c1e1"
                                style="color: rgb(21, 30, 34); font-size: 50px; font-family: segoe ui; text-align: center; line-height: 60px; margin-top: 20px;">
                                How it was implemented</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="wrap-container row_blue justify-content-center">
    <div class="wrap_box" style="background-color: rgb(255, 255, 255);">
        <div id="F5mn6" data-id="F5mn6" class="mode_425 isd_container container-fluid row_blue justify-content-center"
            style="width: 100%; max-width: 1170px; position: relative;">
            <div id="F5mn6r3" class="isd_row row mode_425_row">
                <div id="F5mn6r3_c1" data-id="F5mn6r3_c1"
                    class="isd_column col-align-center box_text box_text_right col-5">
                    <div class="ans_col_items">
                        <div class="isd_object_item" style="width: 100%; text-align: right;">
                            <p class="box_blue" id="ZgF8H"
                                style="color: rgb(255, 255, 255); font-size: 22px; font-family: Roboto; text-align: right; line-height: 35px; margin-top: 20px;">
                                Project concept</p>
                        </div>
                    </div>
                </div>
                <div id="F5mn6r3_c2" data-id="F5mn6r3_c2"
                    class="isd_column col-align-center img_col justify-content-center col-2 mode_425_3">
                    <div class="ans_col_items">
                        <div class="isd_object_item" style="width: 100%; text-align: center;">
                            <img class="img_box_blue img-fluid" id="vME19" src="images/home/icon_01.png"
                                alt="Loading Image ..." style="width: 75%; text-align: center;">
                        </div>
                    </div>
                </div>
                <div id="F5mn6r3_c3" data-id="F5mn6r3_c3" class="isd_column col-align-center col-5">
                    <div class="ans_col_items">
                        <div class="isd_object_item" style="width: 100%; text-align: center;">
                            <p class="" id="HnXFf"
                                style="color: rgb(56, 151, 240); font-size: 22px; font-family: Roboto; text-align: center; line-height: 35px; margin-top: 20px;">
                                Q3/2018</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="wrap-container row_blue justify-content-center">
    <div class="wrap_box" style="background-color: rgb(255, 255, 255);">
        <div id="TgqU8" data-id="TgqU8" class="isd_container container-fluid row_blue justify-content-center mode_425"
            style="width: 100%; max-width: 1170px; position: relative;">
            <div id="TgqU8r3" class="isd_row row mode_425_row">
                <div id="TgqU8r3_c3" data-id="TgqU8r3_c3" class="isd_column col-align-center box_text col-5">
                    <div class="ans_col_items">
                        <div class="isd_object_item" style="width: 100%; text-align: right;">
                            <p class="" id="Djepn"
                                style="color: rgb(21, 30, 34); font-size: 22px; font-family: Roboto; text-align: right; line-height: 35px; margin-top: 20px;">
                                Q4/2018</p>
                        </div>
                    </div>
                </div>
                <div id="TgqU8r3_c2" data-id="TgqU8r3_c2"
                    class="isd_column col-align-center img_col  justify-content-center black col-2">
                    <div class="ans_col_items">
                        <div class="isd_object_item" style="width: 100%; text-align: center;">
                            <img class="img_box_black img-fluid" id="yClJ5" src="images/home/icon 02.png"
                                alt="Loading Image ..." style="width: 75%;  text-align: center;">
                        </div>
                    </div>
                </div>
                <div id="TgqU8r3_c1" data-id="TgqU8r3_c1" class="isd_column col-align-center col-5">
                    <div class="ans_col_items">
                        <div class="isd_object_item" style="width: 100%; text-align: right;">
                            <p class="box_black" id="Jbnwp"
                                style="color: rgb(255, 255, 255); font-size: 22px; font-family: Roboto; text-align: right; line-height: 30px; margin-top: 20px;">
                                Building team</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="wrap-container row_blue justify-content-center">
    <div class="wrap_box" style="background-color: rgb(255, 255, 255);">
        <div id="PQasY" data-id="PQasY" class="isd_container mode_425 container-fluid row_blue justify-content-center"
            style="width: 100%; max-width: 1170px; position: relative;">
            <div id="PQasYr3" class="isd_row row mode_425_row">
                <div id="PQasYr3_c1" data-id="PQasYr3_c1"
                    class="isd_column col-align-center box_text box_text_right col-5">
                    <div class="ans_col_items">
                        <div class="isd_object_item" style="width: 100%; text-align: right;">
                            <p class="box_blue" id="sMpv3"
                                style="color: rgb(255, 255, 255); font-size: 22px; font-family: Roboto; text-align: right; line-height: 30px; margin-top: 20px;">
                                Start development</p>
                        </div>
                    </div>
                </div>
                <div id="PQasYr3_c2" data-id="PQasYr3_c2"
                    class="isd_column col-align-center img_col justify-content-center col-2">
                    <div class="ans_col_items">
                        <div class="isd_object_item" style="width: 100%; text-align: center;">
                            <img class="img_box_blue img-fluid" id="F8VfW" src="images/home/icon 03.png"
                                alt="Loading Image ..." style="width: 75%; text-align: center;">
                        </div>
                    </div>
                </div>
                <div id="PQasYr3_c3" data-id="PQasYr3_c3" class="isd_column col-align-center col-5">
                    <div class="ans_col_items">
                        <div class="isd_object_item" style="width: 100%; text-align: center;">
                            <p class="" id="rMl2E"
                                style="color: rgb(56, 151, 240); font-size: 22px; font-family: Roboto; text-align: center; line-height: 35px; margin-top: 20px;">
                                Q1/2019</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="wrap-container row_blue justify-content-center">
    <div class="wrap_box" style="background-color: rgb(255, 255, 255);">
        <div id="jn6p1" data-id="jn6p1" class="isd_container container-fluid row_blue justify-content-center"
            style="width: 100%; max-width: 1170px; position: relative;">
            <div id="jn6p1r3" class="isd_row row mode_425_row">
                <div id="jn6p1r3_c3" data-id="jn6p1r3_c3" class="isd_column col-align-center box_text col-5">
                    <div class="ans_col_items">
                        <div class="isd_object_item" style="width: 100%; text-align: right;">
                            <p class="" id="e8RQc"
                                style="color: rgb(21, 30, 34); font-size: 22px; font-family: Roboto; text-align: right; line-height: 30px; margin-top: 20px;">
                                Q2/2019</p>
                        </div>
                    </div>
                </div>
                <div id="jn6p1r3_c2" data-id="jn6p1r3_c2"
                    class="isd_column col-align-center img_col  justify-content-center black col-2">
                    <div class="ans_col_items">
                        <div class="isd_object_item" style="width: 100%; text-align: center;">
                            <img class="img_box_black img-fluid" id="zPjF6" src="images/home/icon_04.png"
                                alt="Loading Image ..." style="width: 75%; text-align: center;">
                        </div>
                    </div>
                </div>
                <div id="jn6p1r3_c1" data-id="jn6p1r3_c1" class="isd_column col-align-center col-5">
                    <div class="ans_col_items">
                        <div class="isd_object_item" style="width: 100%; text-align: right;">
                            <p class="box_black" id="UbTwA"
                                style="color: rgb(255, 255, 255); font-size: 22px; font-family: Roboto; text-align: right; line-height: 30px; margin-top: 20px;">
                                MVP</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="wrap-container row_blue justify-content-center">
    <div class="wrap_box" style="background-color: rgb(255, 255, 255);">
        <div id="YdMfn" data-id="YdMfn" class="isd_container container-fluid row_blue justify-content-center"
            style="width: 100%; max-width: 1170px; position: relative;">
            <div id="YdMfnr3" class="isd_row row mode_425_row">
                <div id="YdMfnr3_c1" data-id="YdMfnr3_c1"
                    class="isd_column col-align-center box_text box_text_right col-5">
                    <div class="ans_col_items">
                        <div class="isd_object_item" style="width: 100%; text-align: right;">
                            <p class="box_blue" id="E4cD6"
                                style="color: rgb(255, 255, 255); font-size: 22px; font-family: Roboto; text-align: right; line-height: 30px; margin-top: 20px;">
                                Crowdfunding</p>
                        </div>
                    </div>
                </div>
                <div id="YdMfnr3_c2" data-id="YdMfnr3_c2"
                    class="isd_column col-align-center img_col justify-content-center col-2">
                    <div class="ans_col_items">
                        <div class="isd_object_item" style="width: 100%; text-align: center;">
                            <img class="img_box_blue img-fluid" id="cUyVt" src="images/home/icon05.png"
                                alt="Loading Image ..." style="width: 75%; text-align: center;">
                        </div>
                    </div>
                </div>
                <div id="YdMfnr3_c3" data-id="YdMfnr3_c3" class="isd_column col-align-center col-5">
                    <div class="ans_col_items">
                        <div class="isd_object_item" style="width: 100%; text-align: center;">
                            <p class="" id="nv5Or"
                                style="color: rgb(56, 151, 240); font-size: 22px; font-family: Roboto; text-align: center; line-height: 35px; margin-top: 20px;">
                                Q3/2019</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="wrap-container row_blue justify-content-center">
    <div class="wrap_box" style="background-color: rgb(255, 255, 255);">
        <div id="xuqfR" data-id="xuqfR" class="isd_container container-fluid row_blue justify-content-center"
            style="width: 100%; max-width: 1170px; position: relative;">
            <div id="xuqfRr3" class="isd_row row mode_425_row">
                <div id="xuqfRr3_c3" data-id="xuqfRr3_c3" class="isd_column col-align-center box_text col-5">
                    <div class="ans_col_items">
                        <div class="isd_object_item" style="width: 100%; text-align: right;">
                            <p class="" id="GFRbV"
                                style="color: rgb(21, 30, 34); font-size: 22px; font-family: Roboto; text-align: right; line-height: 30px; margin-top: 20px;">
                                Q1/2020</p>
                        </div>
                    </div>
                </div>
                <div id="xuqfRr3_c2" data-id="xuqfRr3_c2"
                    class="isd_column col-align-center img_col  justify-content-center black col-2">
                    <div class="ans_col_items">
                        <div class="isd_object_item" style="width: 100%; text-align: center;">
                            <img class="img_box_black img-fluid" id="ZxiOQ" src="images/home/icon06.png"
                                alt="Loading Image ..." style="width: 75%; text-align: center;">
                        </div>
                    </div>
                </div>
                <div id="xuqfRr3_c1" data-id="xuqfRr3_c1" class="isd_column col-align-center col-5">
                    <div class="ans_col_items">
                        <div class="isd_object_item" style="width: 100%; text-align: right;">
                            <p class="box_black" id="Sx26o"
                                style="color: rgb(255, 255, 255); font-size: 22px; font-family: Roboto; text-align: right; line-height: 30px; margin-top: 20px;">
                                Mainnet</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="wrap-container row_blue justify-content-center">
    <div class="wrap_box" style="background-color: rgb(255, 255, 255);">
        <div id="ANZYD" data-id="ANZYD" class="isd_container container-fluid row_blue justify-content-center"
            style="width: 100%; max-width: 1170px; position: relative;">
            <div id="ANZYDr3" class="isd_row row mode_425_row">
                <div id="ANZYDr3_c1" data-id="ANZYDr3_c1"
                    class="isd_column col-align-center box_text box_text_right col-5">
                    <div class="ans_col_items">
                        <div class="isd_object_item" style="width: 100%; text-align: right;">
                            <p class="box_blue" id="oVGOB"
                                style="color: rgb(255, 255, 255); font-size: 22px; font-family: Roboto; text-align: right; line-height: 30px; margin-top: 20px;">
                                Payment Gateway</p>
                        </div>
                    </div>
                </div>
                <div id="ANZYDr3_c2" data-id="ANZYDr3_c2"
                    class="isd_column col-align-center img_col justify-content-center col-2">
                    <div class="ans_col_items">
                        <div class="isd_object_item" style="width: 100%; text-align: center;">
                            <img class="img_box_blue img-fluid" id="9rAei" src="images/home/icon07.png"
                                alt="Loading Image ..." style="width: 75%; text-align: center;">
                        </div>
                    </div>
                </div>
                <div id="ANZYDr3_c3" data-id="ANZYDr3_c3" class="isd_column col-align-center col-5">
                    <div class="ans_col_items">
                        <div class="isd_object_item" style="width: 100%; text-align: center;">
                            <p class="" id="CGyE6"
                                style="color: rgb(56, 151, 240); font-size: 22px; font-family: Roboto; text-align: center; line-height: 30px; margin-top: 20px;">
                                Q2/2020</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="wrap-container row_blue justify-content-center">
    <div class="wrap_box" style="background-color: rgb(255, 255, 255);">
        <div id="BXLJC" data-id="BXLJC" class="isd_container container-fluid row_blue justify-content-center"
            style="width: 100%; padding-bottom: 50px; max-width: 1170px; position: relative;">
            <div id="BXLJCr3" class="isd_row row mode_425_row">
                <div id="BXLJCr3_c3" data-id="BXLJCr3_c3" class="isd_column col-align-center box_text col-5">
                    <div class="ans_col_items">
                        <div class="isd_object_item" style="width: 100%; text-align: right;">
                            <p class="" id="mAZ5d"
                                style="color: rgb(21, 30, 34); font-size: 22px; font-family: Roboto; text-align: right; line-height: 30px; margin-top: 20px;">
                                Q4/2020</p>
                        </div>
                    </div>
                </div>
                <div id="BXLJCr3_c2" data-id="BXLJCr3_c2"
                    class="isd_column col-align-center img_col  justify-content-center black col-2">
                    <div class="ans_col_items">
                        <div class="isd_object_item" style="width: 100%; text-align: center;">
                            <img class="img_box_black img-fluid" id="nYhv3" src="images/home/icon08.png"
                                alt="Loading Image ..." style="width: 75%;  text-align: center;">
                        </div>
                    </div>
                </div>
                <div id="BXLJCr3_c1" data-id="BXLJCr3_c1" class="isd_column col-align-center col-5">
                    <div class="ans_col_items">
                        <div class="isd_object_item" style="width: 100%; text-align: right;">
                            <p class="box_black" id="BPRXh"
                                style="color: rgb(255, 255, 255); font-size: 22px; font-family: Roboto; text-align: right; line-height: 30px; margin-top: 20px;">
                                AI filter applied</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wrap-container slider_doitac">
    <div class="wrap_box" style="background-color: rgb(255, 255, 255);">
        <div id="ZreDx" data-id="ZreDx" class="isd_container container-fluid slider_doitac"
            style="width: 100%; padding-top: 50px; padding-bottom: 50px; margin-bottom: 0px; max-width: 1170px; position: relative;">
            <div id="h35Iw" class="isd_row row ">
                <div id="h35Iwc1" data-id="h35Iwc1" class="isd_column  col-12" style="text-align: center;">
                    <div class="ans_col_items">
                        <div class="isd_object_item" style="width: 100%;">
                            <div id="B5jSG" class="slick-initialized slick-slider"><button
                                    class="slick-prev slick-arrow" aria-label="Previous" type="button"
                                    style="">Previous</button>
                                <!-- Brand Slider-->
                                <div class="slick-list draggable">
                                    <div class="slick-track"
                                        style="opacity: 1; width: 4940px; transform: translate3d(-1140px, 0px, 0px);">
                                        <div class="wraper_logo_doitac slick-slide slick-cloned" data-slick-index="-3"
                                            aria-hidden="true" style="width: 380px;" tabindex="-1">
                                            <img src="images/home/partner3.png">
                                        </div>
                                        <div class="wraper_logo_doitac slick-slide slick-cloned" data-slick-index="-2"
                                            aria-hidden="true" style="width: 380px;" tabindex="-1">
                                            <img src="images/home/q.png">
                                        </div>
                                        <div class="wraper_logo_doitac slick-slide slick-cloned" data-slick-index="-1"
                                            aria-hidden="true" style="width: 380px;" tabindex="-1">
                                            <img src="images/home/vinsofts.jpg">
                                        </div>
                                        <div class="wraper_logo_doitac slick-slide slick-current slick-active"
                                            data-slick-index="0" aria-hidden="false" style="width: 380px;" tabindex="0">
                                            <img src="images/home/partner1.png">
                                        </div>
                                        <div class="wraper_logo_doitac slick-slide slick-active" data-slick-index="1"
                                            aria-hidden="false" style="width: 380px;" tabindex="0">
                                            <img src="images/home/partner2.png">
                                        </div>
                                        <div class="wraper_logo_doitac slick-slide slick-active" data-slick-index="2"
                                            aria-hidden="false" style="width: 380px;" tabindex="0">
                                            <img src="images/home/partner3.png">
                                        </div>
                                        <div class="wraper_logo_doitac slick-slide" data-slick-index="3"
                                            aria-hidden="true" style="width: 380px;" tabindex="-1">
                                            <img src="images/home/q.png">
                                        </div>
                                        <div class="wraper_logo_doitac slick-slide" data-slick-index="4"
                                            aria-hidden="true" style="width: 380px;" tabindex="-1">
                                            <img src="images/home/vinsofts.jpg">
                                        </div>
                                        <div class="wraper_logo_doitac slick-slide slick-cloned" data-slick-index="5"
                                            aria-hidden="true" style="width: 380px;" tabindex="-1">
                                            <img src="images/home/partner1.png">
                                        </div>
                                        <div class="wraper_logo_doitac slick-slide slick-cloned" data-slick-index="6"
                                            aria-hidden="true" style="width: 380px;" tabindex="-1">
                                            <img src="images/home/partner2.png">
                                        </div>
                                        <div class="wraper_logo_doitac slick-slide slick-cloned" data-slick-index="7"
                                            aria-hidden="true" style="width: 380px;" tabindex="-1">
                                            <img src="images/home/partner3.png">
                                        </div>
                                        <div class="wraper_logo_doitac slick-slide slick-cloned" data-slick-index="8"
                                            aria-hidden="true" style="width: 380px;" tabindex="-1">
                                            <img src="images/home/q.png">
                                        </div>
                                        <div class="wraper_logo_doitac slick-slide slick-cloned" data-slick-index="9"
                                            aria-hidden="true" style="width: 380px;" tabindex="-1">
                                            <img src="images/home/vinsofts.jpg">
                                        </div>
                                    </div>
                                </div>
                                <!-- End Slider-->
                                <button class="slick-next slick-arrow" aria-label="Next" type="button"
                                    style="">Next</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wrap-container">
    <div class="wrap_box" style="background-color: rgb(255, 255, 255);">
        <div id="wNsUy" data-id="wNsUy" class="isd_container container-fluid mode_425_h3" style="position: relative;">
            <div id="wNsUyr3" class="isd_row row ">
                <div id="wNsUyr3_c1" data-id="wNsUyr3_c1"
                    class="isd_column col-no-pad col_text_bottom img_hover col-6 full_425 no_padding">
                    <div class="ans_col_items">
                        <div class="isd_object_item" style="width: 100%;">
                            <img class=" img-fluid" id="niIcM" src="images/home/1563753450_img_grid11.png"
                                alt="Loading Image ...">
                        </div>
                        <div class="isd_object_item" style="width: 100%;">
                            <h3 class="font-weight-normal text_bottom mb-0" id="EOeLH"
                                style="color: rgb(255, 255, 255); font-size: 22px; font-family: Roboto; line-height: 30px; padding: 15px 15px 15px 30px; margin-top: 0px;">
                                Taking photographs</h3>
                        </div>
                    </div>
                </div>
                <div id="wNsUyr3_c2" data-id="wNsUyr3_c2"
                    class="isd_column col-no-pad col_text_bottom img_hover col-3 half_425">
                    <div class="ans_col_items">
                        <div class="isd_object_item" style="width: 100%;">
                            <img class=" img-fluid" id="blCIq" src="images/home/img_grid12.png" alt="Loading Image ...">
                        </div>
                        <div class="isd_object_item" style="width: 100%;">
                            <h3 class="font-weight-normal text_bottom mb-0" id="fDOGk"
                                style="color: rgb(255, 255, 255); font-size: 22px; font-family: Roboto; line-height: 30px; padding: 15px 15px 15px 30px; margin-top: 0px;">
                                Booking travel</h3>
                        </div>
                    </div>
                </div>
                <div id="wNsUyr3_c3" data-id="wNsUyr3_c3"
                    class="isd_column col-no-pad col_text_bottom img_hover col-3 half_425">
                    <div class="ans_col_items">
                        <div class="isd_object_item" style="width: 100%;">
                            <img class=" img-fluid" id="CdniK" src="images/home/img_grid13.png" alt="Loading Image ...">
                        </div>
                        <div class="isd_object_item" style="width: 100%;">
                            <h3 class="font-weight-normal text_bottom mb-0" id="YWCgt"
                                style="color: rgb(255, 255, 255); font-size: 22px; font-family: Roboto; line-height: 30px; padding: 15px 15px 15px 30px; margin-top: 0px;">
                                Check-in</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="wrap-container">
    <div class="wrap_box" style="background-color: rgb(255, 255, 255);">
        <div id="VtRfz" data-id="VtRfz" class="isd_container container-fluid mode_425_h3" style="position: relative;">
            <div id="VtRfz_r1" class="isd_row row mode_425_h3">
                <div id="VtRfz_r1c1" data-id="VtRfz_r1c1"
                    class="isd_column col-no-pad col_text_bottom img_hover col-3 half_425">
                    <div class="ans_col_items">
                        <div class="isd_object_item" style="width: 100%;">
                            <img class=" img-fluid" id="4PAsM" src="images/home/img_grid21.png" alt="Loading Image ...">
                        </div>
                        <div class="isd_object_item" style="width: 100%;">
                            <h3 class="font-weight-normal text_bottom mb-0" id="VtRfz_r1c1_e1"
                                style="color: rgb(255, 255, 255); font-size: 22px; font-family: Roboto; line-height: 30px; padding: 15px 15px 15px 30px; margin-top: 0px;">
                                Interactive</h3>
                        </div>
                    </div>
                </div>
                <div id="VtRfz_r1c2" data-id="VtRfz_r1c2"
                    class="isd_column col-no-pad col_text_bottom img_hover col-3 half_425">
                    <div class="ans_col_items">
                        <div class="isd_object_item" style="width: 100%;">
                            <img class=" img-fluid" id="NAx98" src="images/home/img_grid22.png" alt="Loading Image ...">
                        </div>
                        <div class="isd_object_item" style="width: 100%;">
                            <h3 class="font-weight-normal text_bottom mb-0" id="VtRfz_r1c1_e2"
                                style="color: rgb(255, 255, 255); font-size: 22px; font-family: Roboto; line-height: 30px; padding: 15px 15px 15px 30px; margin-top: 0px;">
                                Marketing online</h3>
                        </div>
                    </div>
                </div>
                <div id="VtRfz_r1c3" data-id="VtRfz_r1c3"
                    class="isd_column col-no-pad col_text_bottom img_hover col-3 half_425">
                    <div class="ans_col_items">
                        <div class="isd_object_item" style="width: 100%;">
                            <img class=" img-fluid" id="jSU3L" src="images/home/img_grid23.png" alt="Loading Image ...">
                        </div>
                        <div class="isd_object_item" style="width: 100%;">
                            <h3 class="font-weight-normal text_bottom mb-0" id="VtRfz_r1c1_e3"
                                style="color: rgb(255, 255, 255); font-size: 22px; font-family: Roboto; line-height: 30px; padding: 15px 15px 15px 30px; margin-top: 0px;">
                                Reward</h3>
                        </div>
                    </div>
                </div>
                <div id="VtRfz_r1c4" data-id="VtRfz_r1c4"
                    class="isd_column col-no-pad col_text_bottom img_hover col-3 half_425">
                    <div class="ans_col_items">
                        <div class="isd_object_item" style="width: 100%;">
                            <img class=" img-fluid" id="elmc9" src="images/home/grid24.png" alt="Loading Image ...">
                        </div>
                        <div class="isd_object_item" style="width: 100%;">
                            <h3 class="font-weight-normal text_bottom mb-0" id="VtRfz_r1c1_e4"
                                style="color: rgb(255, 255, 255); font-size: 22px; font-family: Roboto; line-height: 30px; padding: 15px 15px 15px 30px; margin-top: 0px;">
                                Blockchain technology</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include("layouts/footer");-%>