<div class="wrap-container">
    <div class="wrap_box" style="background-color: #202940;">
        <div id="contact_block" data-id="YCaM4" class="isd_container container "
            style="padding-top: 50px; padding-bottom: 10px; position: relative;">
            <div id="YCaM4_r2" class="isd_row row row justify-content-center ">
                <div id="YCaM4_r2_c1" data-id="YCaM4_r2_c1" class="isd_column  col">
                    <div class="ans_col_items">
                        <div class="isd_object_item" style="width: 100%;">
                            <div id="xj2NQ" class="ans_sub_col_item row">
                                <div id="VQ8rL" data-id="VQ8rL" class="isd_column mode_425_c5 col-3"
                                    style="margin-bottom: 30px;">
                                    <div class="ans_col_items">
                                        <div class="isd_object_item" style="width: 100%; text-align: center;">
                                            <a href="https://astranetwork.org/">
                                                <img class=" img-fluid" id="DUEn3" src="images/home/1564454514_logo.jpg"
                                                    alt="Loading Image ..." style="text-align: center;">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="isd_object_item" style="width: 100%;">
                            <div id="NkTev" class="ans_sub_col_item row"></div>
                        </div>
                        <div class="isd_object_item" style="width: 100%;">
                            <div id="VPEs7" class="ans_sub_col_item row">
                                <div id="6BO9Z" data-id="6BO9Z" class="isd_column mode_425_center col"
                                    style="text-align: right;">
                                    <div class="ans_col_items">
                                        <div class="isd_object_item" style="width: 100%;">
                                            <div id="vlear" class="ans_html_item">
                                                <a href="https://astranetwork.org/#" target="_blank"
                                                    class="button_app apple_store">
                                                    <img src="images/home/apple_icon.png"
                                                        alt="apple"><span>AppStore</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="Azks1" data-id="Azks1" class="isd_column mode_425_center col">
                                    <div class="ans_col_items">
                                        <div class="isd_object_item" style="width: 100%;">
                                            <div id="vstP4" class="ans_html_item">
                                                <a href="https://astranetwork.org/#" target="_blank"
                                                    class="button_app google_play">
                                                    <img src="images/home/1563923562_google_play.png"
                                                        alt="google play"><span>Google Play</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="isd_object_item" style="width: 100%;">
                            <div id="KYGgB" class="ans_sub_col_item row"></div>
                        </div>
                        <div class="isd_object_item" style="width: 100%;">
                            <div id="GdZra" class="ans_html_item" style="margin-top: 30px;">
                                <div class="socials_conect">
                                    <a class="social_item_f"
                                        href="https://www.facebook.com/Astra-Network-386410802233964" target="_blank">
                                        <img src="images/home/1563938776_fb_icon.png" alt="">
                                    </a>
                                    <a class="social_item_f" href="https://twitter.com/NetworkAstra" target="_blank">
                                        <img src="images/home/twitter_icon.png" alt="">
                                    </a>
                                    <a class="social_item_f" href="https://t.me/AstraNetwork_Official" target="_blank">
                                        <img src="images/home/something_icon.png" alt="">
                                    </a>
                                    <a class="social_item_f" target="_blank">
                                        <img src="images/home/1564114592_cat_icon04.png" alt="">
                                    </a>
                                    <a class="social_item_f" target="_blank">
                                        <img src="images/home/social_icon05.png" alt="">
                                    </a>
                                    <a class="social_item_f" target="_blank">
                                        <img src="images/home/social_icon06.png" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="isd_object_item" style="width: 100%;">
                            <div id="TDdMp" class="ans_sub_col_item row">
                                <div id="v7ICp" data-id="v7ICp" class="isd_column  col">
                                    <div class="ans_col_items">
                                        <div class="isd_object_item" style="width: 100%; text-align: center;">
                                            <p class="" id="82Bbs"
                                                style="color: rgba(255, 255, 255, 0.6); font-size: 16px; font-family: Roboto; text-align: center; line-height: 20px; padding-top: 30px;">
                                                © 2019 Astra Network Foundation. All Rights Reserved</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
</div>
</div>
</div>

<script type="text/javascript" src="javascripts/home/slick.min.js"></script>
<script type="text/javascript" src="javascripts/home/scrollreveal.min.js"></script>
<script type="text/javascript" src="javascripts/home/vendors.view.min.js"></script>
<script src="bower_components/photoset-grid/jquery.photoset-grid.min.js"></script>

<script type="text/javascript">
    //according style open close for why choose us
    var accItem1 = document.getElementsByClassName('accordionItem1');
    var accHD1 = document.getElementsByClassName('accordionItemHeading1');
    for (i = 0; i < accHD1.length; i++) {
        accHD1[i].addEventListener('click', toggleItema, false);
    }

    function toggleItema() {
        var itemClass1 = this.parentNode.className;
        for (i = 0; i < accItem1.length; i++) {
            accItem1[i].className = 'accordionItem1 close';
        }
        if (itemClass1 == 'accordionItem1 close') {
            this.parentNode.className = 'accordionItem1 open';
        }
    }

    //according style open close for faq
    var accItem = document.getElementsByClassName('accordionItem');
    var accHD = document.getElementsByClassName('accordionItemHeading');
    for (i = 0; i < accHD.length; i++) {
        accHD[i].addEventListener('click', toggleItem, false);
    }

    function toggleItem() {
        var itemClass = this.parentNode.className;
        for (i = 0; i < accItem.length; i++) {
            accItem[i].className = 'accordionItem close';
        }
        if (itemClass == 'accordionItem close') {
            this.parentNode.className = 'accordionItem open';
        }
    }

    $(document).ready(function () {
        $('.slide_top .col_hover, .slide_top .col_right_hover').hover(function () {
            var actslide = $(this).attr('id');
            $('#big_main_slide .isd_object_item').addClass(actslide);
            clearInterval(timer);
            switch (actslide) {
                case 'slide_item_01':
                    $('#big_main_slide .isd_object_item img').attr('src', 'https://web.tttt.vn/upload/1/2019/07/conectivity.png');
                    break;
                case 'slide_item_02':
                    $('#big_main_slide .isd_object_item img').attr('src', 'https://web.tttt.vn/upload/e462e8f2-1b9a-11e9-a731-b51e02432c4b/2019/07/1564198215_reward.png');
                    break;
                case 'slide_item_03':
                    $('#big_main_slide .isd_object_item img').attr('src', 'https://web.tttt.vn/upload/1/2019/07/share.png');
                    break;
                case 'slide_item_04':
                    $('#big_main_slide .isd_object_item img').attr('src', 'https://web.tttt.vn/upload/1/2019/07/travel-knowlage.png');
                    break;
                case 'slide_item_05':
                    $('#big_main_slide .isd_object_item img').attr('src', 'https://web.tttt.vn/upload/1/2019/07/buyservice.png');
                    break;
                case 'slide_item_06':
                    $('#big_main_slide .isd_object_item img').attr('src', 'https://web.tttt.vn/upload/1/2019/07/marketing.png');
                    break;
            }
            $(this).addClass('active');
        }, function () {
            var actslide = $(this).attr('id');
            $('#big_main_slide .isd_object_item').removeClass(actslide);
            $(this).removeClass('active');
            $('#big_main_slide .isd_object_item').addClass('remove_item');
            timer = setInterval(animateSlide, 10000);
        });
        var timer = setInterval(animateSlide, 10000);
        //Menu
        $('.menu_mobile').click(function () {
            $(this).parents('.main_menu').toggleClass('active');
        })
        $('#mobile_main_slide_top .slide_item_click').click(function () {
            var item_select = $(this).attr('id');
            switch (item_select) {
                case 'mobile_s_item_1':
                    $('#mobile_main_big_img').attr('src', 'https://web.tttt.vn/upload/1/2019/07/conectivity.png');
                    break;
                case 'mobile_s_item_3':
                    $('#mobile_main_big_img').attr('src', 'https://web.tttt.vn/upload/e462e8f2-1b9a-11e9-a731-b51e02432c4b/2019/07/1564198215_reward.png');
                    break;
                case 'mobile_s_item_2':
                    $('#mobile_main_big_img').attr('src', 'https://web.tttt.vn/upload/1/2019/07/share.png');
                    break;
                case 'mobile_s_item_4':
                    $('#mobile_main_big_img').attr('src', 'https://web.tttt.vn/upload/1/2019/07/travel-knowlage.png');
                    break;
                case 'mobile_s_item_5':
                    $('#mobile_main_big_img').attr('src', 'https://web.tttt.vn/upload/1/2019/07/buyservice.png');
                    break;
                case 'mobile_s_item_6':
                    $('#mobile_main_big_img').attr('src', 'https://web.tttt.vn/upload/1/2019/07/marketing.png');
                    break;
            }
            if (mobile_main_slide_top)
                var target_offset = $('#mobile_main_slide_top').offset(),
                    target_offset_top = 0;
            if (target_offset) target_offset_top = target_offset.top;
            $('html, body').animate({
                scrollTop: target_offset_top
            }, 'slow');
        })
        $('.why_choose .accordionItem1').click(function () {
            var data_url = 'https://web.tttt.vn/upload/e462e8f2-1b9a-11e9-a731-b51e02432c4b/2019/07/why_choose%20.png',
                new_data_url = $(this).attr('data-url');
            if (new_data_url) data_url = new_data_url;
            $('#why_choose_us').attr('src', data_url);
        });

        function animateSlide() {
            var slide_items = [{
                'id': 'slide_item_01',
                'image': 'conectivity.png'
            },
            {
                'id': 'slide_item_02',
                'image': 'reward.png'
            },
            {
                'id': 'slide_item_03',
                'image': 'share.png'
            },
            {
                'id': 'slide_item_04',
                'image': 'travel-knowlage.png'
            },
            {
                'id': 'slide_item_05',
                'image': 'buyservice.png'
            },
            {
                'id': 'slide_item_06',
                'image': 'marketing.png'
            }
            ];
            var randomItem = slide_items[Math.floor(Math.random() * slide_items.length)];
            $('#big_main_slide .isd_object_item img, #mobile_main_big_img').attr('src', 'https://web.tttt.vn/upload/1/2019/07/' + randomItem.image);
        }
        //Template slider 
        $('#dR4eq').slick({
            dots: true,
            infinite: true,
            speed: 500,
            slidesToShow: 3,
            slidesToScroll: 3,
            adaptiveHeight: true,
            initialSlide: 0,
            responsive: [{
                breakpoint: 1024,
                settings: {
                    slidesToShow: 3,
                    slidesToScroll: 3,
                    adaptiveHeight: true,
                    infinite: true,
                    dots: true
                }
            },
            {
                breakpoint: 600,
                settings: {
                    slidesToShow: 2,
                    slidesToScroll: 2,
                    adaptiveHeight: true,
                    initialSlide: 2
                }
            },
            {
                breakpoint: 480,
                settings: {
                    slidesToShow: 1,
                    slidesToScroll: 1,
                    adaptiveHeight: true
                }
            }
            ]
        });
        //Brand slider 
        $('#B5jSG').slick({
            autoplay: true,
            autoplaySpeed: 1000,
            slidesToShow: 3,
            slidesToScroll: 3,
            responsive: [{
                breakpoint: 1024,
                settings: {
                    slidesToShow: 3,
                    slidesToScroll: 3,
                    infinite: true,
                    dots: true
                }
            }, {
                breakpoint: 600,
                settings: {
                    slidesToShow: 2,
                    slidesToScroll: 2,
                    initialSlide: 2
                }
            }, {
                breakpoint: 480,
                settings: {
                    slidesToShow: 2,
                    slidesToScroll: 2
                }
            }]
        });
        $('#WCwEN').slick({
            dots: true,
            infinite: true,
            speed: 500,
            slidesToShow: 3,
            slidesToScroll: 3,
            adaptiveHeight: true,
            initialSlide: 0,
            responsive: [{
                breakpoint: 1024,
                settings: {
                    slidesToShow: 3,
                    slidesToScroll: 3,
                    adaptiveHeight: true,
                    infinite: true,
                    dots: true
                }
            }, {
                breakpoint: 600,
                settings: {
                    slidesToShow: 2,
                    slidesToScroll: 2,
                    adaptiveHeight: true,
                    initialSlide: 2
                }
            }, {
                breakpoint: 480,
                settings: {
                    slidesToShow: 1,
                    slidesToScroll: 1,
                    adaptiveHeight: true
                }
            }]
        });
    });
</script>
</body>

</html>