<%- include('../header'); -%>
    <div class="container">
        <div class="col-sm-2"></div>
        <div class="col-sm-8 my-content">
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-7 text-center">
                    <a class="btn big-login" data-toggle="modal" href="javascript:void(0)" onclick="openLoginModal();">Sign In</a>
                    <a class="btn big-register" data-toggle="modal" href="javascript:void(0)" onclick="openRegisterModal();">Sign Up</a>
                </div>
                <div class="col-sm-3"></div>
            </div>
        </div>
        <div class="col-sm-2"></div>
        <div class="modal fade login" id="loginModal">
            <div class="modal-dialog login animated">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Sign Up</h4>
                    </div>
                    <div class="modal-body">
                        <%- include("../alerts/alert"); -%>
                        <!-- include('sections/login');-->
                        <div class="box">
                            <div class="content">
                                <div class="social">
                                    <a id="google_login" class="circle google" href="/auth/google" title="Log In by Google Account">
                                    <i class="fa fa-google-plus fa-fw"></i>
                                    </a>
                                    <a id="facebook_login" class="circle facebook" href="/auth/facebook" title="Log In by Facebook Account">
                                    <i class="fa fa-facebook fa-fw"></i>
                                    </a>
                                </div>
                                <div class="division">
                                    <div class="line l"></div>
                                    <span>Or</span>
                                    <div class="line r"></div>
                                </div>
                                <div class="error"></div>
                                <div class="form loginBox">
                                    <form id="form" action="/login" method="post">
                                        <input id="email-login-check" type="text" name="email" placeholder="Email" class="form-control" required>
                                        <input id="password-login-check" type="password" name="password" placeholder="Password" class="form-control" required>
                                        <input id="check-login-geetest-btn" type="submit" value="Sign In" class="btn btn-default btn-login">
                                    </form>
                                </div>
                            </div>
                        </div>
                        
                        <!-- include('sections/register');-->
                        <div class="box">
                            <div class="content registerBox" style="display:none;">
                                <div class="form">
                                    <form method="post" html="{:multipart=>true}" data-remote="true" action="/register" accept-charset="UTF-8">
                                        <input id="email" class="form-control" type="text" placeholder="Email" name="email" required>
                                        <input id="password" class="form-control" type="password" placeholder="Password" name="password" required>
                                        <input id="password_confirmation" class="form-control" type="password" placeholder="Confirm Password" name="password_confirmation" required>
                                        <input class="btn btn-default btn-register" type="submit" value="Sign Up" name="commit">
                                    </form>
                                </div>
                            </div>
                        </div>                        
                    </div>
                    <div class="modal-footer">
                        <div class="forgot login-footer">
                            <span>Don't you have Account?
                            <a href="javascript: showRegisterForm();">Create a New Account</a>
                            </span>
                        </div>
                        <div class="forgot register-footer" style="display:none">
                            <span>Did You have account?</span>
                            <a href="javascript: showLoginForm();">Log In</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include('../footer'); -%>